/* *************************8 */
/* General/ Reusable Styles */
.container {
  margin: 0 5vw;
  padding: 0 3.2rem;
}

.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4.8rem;
}

p {
  line-height: 1.6;
  font-size: 1.8rem;
}

/* ************************** */
/* Header Section */

.main-header {
  width: 100%;
  transition: all 0.3s;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 0;
}

.logo {
  height: 3.2rem;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.nav-links:visited,
.nav-links:link {
  text-decoration: none;
  color: var(--primary-colour-tint--100);
  font-size: 1.6rem;
  transition: all 0.3s;
  border-bottom: 1.5px solid transparent;
}

.nav-links:hover,
.nav-links:active {
  color: var(--primary-colour-shade--100);
  font-weight: 600;
  border-color: currentColor;
}

.btn--signup:visited,
.btn--signup:link {
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
}

/* ************************* */
/* Hero Section */
.hero-section {
  padding: 6.4rem 0;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.hero-text {
  color: var(--text-grey);
}

.cta-box {
  display: flex;
  justify-content: center;
}

.btn--cta {
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  transform: translateX(-25%);
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.hero-img {
  width: 70%;
}